input[Name] {
  background-color: greenyellow;
  width: 150px;
  margin-bottom: 10px;
}
label[for="visitante"] {
  color: orangered;
  font-weight: bolder;
  font-size: large;
}
input[type="button"] {
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.863);
  background-color: rgb(255, 255, 255);
}
